@import url('../fonts/Roboto/css2.css');
@import 'tailwindcss';

:root {
    color-scheme: dark;
    font-family: Roboto, Arial, sans-serif;
    --color-black: rgb(15, 15, 15)
}

body {
    @apply bg-black text-gray-100;
}

body:after {
    content: "";
    pointer-events: none;
    z-index: -1;
    position: fixed;
    inset: 0;
    background: url('@/app/assets/images/nano-banana-2-693d4a5dacec79b34ad04267.webp') no-repeat center center/cover;
}