@import url('../fonts/Roboto/css2.css');
@import 'tailwindcss';

:root {
    color-scheme: dark;
    font-family: Roboto, Arial, sans-serif;
    --color-black: rgb(15, 15, 15);
    --title-bar-height: 0px;
}

html,
#app {
    background: transparent;
}

body {
    @apply bg-black text-gray-100;
}

body.is-electron {
    --title-bar-height: 32px;
    background: transparent;
}

body.is-electron #app {
    padding-top: var(--title-bar-height);
}