@import 'tailwindcss';
@import url('../fonts/Roboto/css2.css');

:root {
    color-scheme: dark;
    font-family: Roboto, Arial, sans-serif;
    --color-black: rgb(15, 15, 15)
}

body {
    @apply bg-black text-gray-100;
}